*.pyc
*~
.idea
__pycache__
/myenv/
*.pyc
*.iml
*.zip
*.sqlite3
.ipynb

secrets.json

# static files for Django
/staticfiles

build/
*~.nib
*.so
*.pbxuser
*.mode*
*.perspective*
# Xcode 4
project.xcworkspace/
xcuserdata/

# UI Automation Test files
*.trace

# OSX Specific files
.DS_Store

# Textmate project file
*.tmproj

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# virtual environment
/env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/logs

/.vscode