body {
  margin: 0;
  font-family: 'Nanum Barun Gothic', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(53, 53, 53) !important;
  letter-spacing: -0.02rem !important;
  font-size: 15px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.modal {
  border-radius: 3px !important;
}

.ui.card {
  border-radius: 0px !important;
}

.ui.card>:first-child {
  border-radius: 0px !important;
}

.cards .ui.card.mobile .image {
  border-radius: 3px !important;
}

.ui.card.mobile .image {
  border-radius: 3px !important;
}

/*기본 버튼 크기 통일*/
.ui.button.fluid {
  height: 43px !important;
  padding-top: 12px !important;
  align-items: flex-start !important;
}

/*기본 입력창 디자인 통일*/
.field {
  border-radius: none !important;
}

.ui.input.fluid {
  height: 43px !important;
  border-radius: 0px !important;
}

.ui.input input {
  border: none !important;
  border-bottom: 1px solid rgb(151, 151, 151) !important;
  border-radius: 0px !important;
  padding-left: 1px !important;
}

.ui.input .label {
  border-bottom: 1px solid rgb(151, 151, 151) !important;
}

.ui.input.error input {
  border-bottom: 1px solid rgb(238, 50, 57) !important;
  color: rgb(238, 50, 57) !important;
}

.ui.input.error .label {
  color: #eb4c2a !important;
  background-color: #FFF6F6 !important;
  border-bottom: 1px solid rgb(238, 50, 57) !important;
}

.ui.dropdown .text {
  padding: 2px 0px !important;
}

/*모바일 신청 버튼*/
.ui.fluid.button.apply-button {
  height: 43px !important;
}

/*신청 정도 진행바*/
.ui.tiny.progress.apply-progress {
  height: 4px !important;
  margin: 0px -12px 9px -12px !important;
}

.ui.tiny.progress.apply-progress .bar {
  height: 4px !important;
  background: #eb4c2a !important;
}

/*프로젝트 디테일*/
.ui.grid>.row.mobile-project-detail>.four.wide.column {
  padding-left: 0 !important;
  padding-right: 0px !important;
}

.ui.grid>.row.mobile-project-detail {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mobile-project-detail i {
  vertical-align: middle !important;
  margin-right: 10px !important;
}

.mobile-project-detail strong {
  vertical-align: middle !important;
}

.mobile-project-detail {
  vertical-align: middle !important;
}

.mobile-project-detail .weekday-label .ui.circular.label {
  padding: 6.7px 7.5px 6.2px 7.5px !important;
  font-size: 10px !important;
  margin-right: 4.5px !important;
}

/* 프로젝트 카드 */
.ui.card.mobile .content {
  border: none !important;
}

/*프로젝트 태그*/
.project-tag a.ui.label {
  padding: 5px 5px 3px 5px !important;
  border-radius: 2px !important;
  font-size: 10px !important;
}

.coupon-modal.ui.fluid.card {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) !important;
}

.coupon-modal.ui.button {
  padding: 2px !important;
}

.coupon-modal.ui.fluid.input {
  height: 38px !important;
}

.payment.ui.checkbox label:before {
  height: 15px !important;
  width: 15px !important;
  margin-top: 1.8px !important;
}

.thin {
  font-weight: 300 !important;
}

.ui.divider.payment {
  border-top: 0.5px solid rgb(233, 234, 234) !important;
  border-bottom: 0.5px solid rgb(233, 234, 234) !important;
}

.ui.selection.dropdown {
  height: 43px !important;
}

.ui.large.fluid.button.payment {
  font-size: 14px !important;
  height: 43px !important;
}

.ui.input.payment {
  height: 43px !important;
}

.ui.menu {
  margin: 0px !important;
}

.ui .form .field {
  margin-bottom: 10px !important;
}

.my-facebook-button-class {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background-color: white;
}

a.card.mobile {
  box-shadow: none !important;
  border-radius: 1px !important;
}

.slick-carousel.ui.container {
  padding: 0px 25px 0 0 !important;
  margin: 0px !important;
}

/* 프로젝트 슬라이더 */
.slick-carousel.ui.container .slick-list {
  margin-right: -25px !important;
  padding: 0px 100px 0px 19px !important;
}

.slick-carousel.ui.container button {
  display: none !important;
}

.main .slick-slide {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

/* 프로젝트 슬라이더 진행바 */
.ui.progress.project-slide-progress {
  height: 4px !important;
  border-radius: 0px !important;
}

.ui.progress.project-slide-progress .bar {
  height: 4px !important;
  border-radius: 0px !important;
}


.fix-header.ui.menu {
  border: none !important;
  box-shadow: none !important;
}

/* 메인 페이지 헤더 */
.main-header.menu .item {
  color: rgb(53, 53, 53, 0.5) !important;
}

.main-header.menu .active.item {
  color: rgb(53, 53, 53, 1) !important;
  border-color: #eb4c2a !important;
}

/* 모달 창 배경 색 조정 */
.ui.page.modals.dimmer.transition.visible.active {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

/* 프로젝트 페이지 커리큘럼 모달창 */
.ui.modal.transition.visible.active.curriculum-modal {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  max-width: 630px !important;
  width: calc(100% - 10px) !important;
}

.ui.modal.transition.visible.active.curriculum-modal .ui.two.column.grid {
  width: 100% !important;
  padding: 0 !important;
}

.ui.modal.transition.visible.active.curriculum-modal .curriculum-week-mark.column {
  width: 48px !important;
  height: 45px !important;
  padding: 0 !important;
  text-align: center !important;
}

.ui.modal.transition.visible.active.curriculum-modal .curriculum-week-mark.column .ui.label {
  width: 48px !important;
  height: 45px !important;
  font-size: 35px !important;
  padding: 6px 3px 0 0 !important;
  background-color: rgb(53, 53, 53) !important;
  color: white !important;
  border-radius: 10px !important;
  letter-spacing: -3px !important;
  -webkit-letter-spacing: -1px !important;
}

.ui.modal.transition.visible.active.curriculum-modal svg {
  margin-top: 0 !important;
  margin-bottom: 12px !important;
  padding: 0 !important;
}

.ui.modal.transition.visible.active.curriculum-modal .thin-90-divider.ui.divider {
  width: calc(100% - 35px) !important;
  margin-top: 1.5px !important;
  border-top: 0.25px solid rgba(53, 53, 53, 0.5);
  border-bottom: 0.25px solid rgba(53, 53, 53, 0.5);
}

.ui.modal.transition.visible.active.curriculum-modal .ui.container {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.ui.modal.transition.visible.active.curriculum-modal .ui.container .row.modal-close {
  padding: 16px 0 !important;
}

.ui.modal.transition.visible.active.curriculum-modal .ui.container .row.modal-close:hover {
  cursor: pointer;
}

.ui.modal.transition.visible.active.curriculum-modal .ui.divider {
  margin: 0 !important;
}

.ui.vertical.segment {
  margin: 0 !important;
  padding: 7em 0em 5em !important;
}

/* Footer */

.footer-service-agreement:hover,
.footer-privacy-agreement:hover {
  cursor: pointer;
}

/* 로딩 페이지 */
.loader-page {
  max-width: 640px !important;
  width: 100% !important;
  height: 100vh !important;
}

.loader-page img {
  margin-top: 45vh !important;
  margin-left: 48% !important;
  width: 30px !important;
  height: 30px !important;
}

/* 풀스크린 세션 조정 */
.fullscreen {
  max-width: 640px !important;
  position: fixed !important;
  z-index: 5 !important;
  width: 100% !important;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgb(231, 239, 243) !important;
  overflow: hidden !important;
}

.fullscreen .project-detail-slide-container {
  height: calc(var(--vh, 1vh) * 100);
  display: flex !important;
}

.fullscreen .project-detail-slide {
  /* position: absolute !important; */
  display: none !important;
  z-index: -10 !important;
  width: 100% !important;
  opacity: 0 !important;
  padding-bottom: 64px !important;
}

.fullscreen .project-detail-slide .ui.container {
  width: 640px !important;
}

.fullscreen .project-detail-slide.prev {
  transition: transform 0.8s ease-in-out;
  transform: translate3d(-100%, 0, 0) !important;
  opacity: 1 !important;
  display: block !important;
  width: 100% !important;
  height: calc(100% - 64px) !important;
  max-width: 640px !important;
  padding-bottom: 120px !important;
}

.fullscreen .project-detail-slide.next {
  display: block !important;
}

.fullscreen .project-detail-slide.next.total-result {
  transform: translate3d(-100%, 0, 0) !important;
}

.fullscreen .project-detail-slide-active.total-result {
  animation: fadein 1.6s;
}

.fullscreen .project-detail-slide-active.quiz-result {
  transition: none;
  transform: translate3d(-100%, 0, 0) !important;
  animation: fadein 0.8s;
}

.fullscreen .project-detail-slide-active.curriculum {
  transition: none;
  transform: translate3d(-100%, 0, 0) !important;
  animation: fadein 0.8s;
}

.fullscreen .project-detail-slide-active.quiz-start {
  background-color: rgb(231, 239, 243) !important;
  z-index: 55 !important;
}

.fullscreen .project-detail-slide-active {
  transform: translate3d(-100%, 0, 0) !important;
  display: block !important;
  transition: transform 0.8s ease-in-out;
  /* position: absolute !important; */
  opacity: 1 !important;
  z-index: 50 !important;
  width: 100% !important;
  height: calc(100% - 64px) !important;
  max-width: 640px !important;
  padding-bottom: 120px !important;
}

.fullscreen .project-detail-slide-active.first {
  transform: translate3d(0, 0, 0) !important;
}

.fullscreen .project-detail-slide-active .ui.container,
.fullscreen .project-detail-slide.prev .ui.container {
  display: block !important;
  width: 640px !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.fullscreen .project-detail-slide-active .curriculum-week-mark.column {
  width: 48px !important;
  height: 45px !important;
  padding: 0 !important;
  text-align: center !important;
}

.fullscreen .project-detail-slide-active .curriculum-week-mark.column .ui.label {
  width: 48px !important;
  height: 45px !important;
  font-size: 35px !important;
  padding: 6px 3px 0 0 !important;
  background-color: rgb(53, 53, 53) !important;
  color: rgb(231, 239, 243) !important;
  border-radius: 10px !important;
  letter-spacing: -3px !important;
  -webkit-letter-spacing: -1px !important;
}

/*

.fullscreen .project-detail-slide-active .curriculum-week-mark.column span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px !important;
  color: rgb(231, 239, 243);
} */

.fullscreen .project-detail-slide-active .quiz-curriculum svg {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  padding: 0 !important;
  padding-left: 3px !important;
}

.fullscreen .project-detail-slide-active .thin-90-divider.ui.divider {
  width: calc(100% - 35px) !important;
  border-top: 0.25px solid rgba(53, 53, 53, 0.5);
  border-bottom: 0.25px solid rgba(53, 53, 53, 0.5);
}

.fullscreen .project-detail-slide-active .ui.grid,
.fullscreen .project-detail-slide.prev .ui.grid {
  height: 100% !important;
}

.fullscreen .project-detail-slide-active .ui.container .row {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.fullscreen .project-detail-slide-active .option-button-container.row {
  padding-top: 19px !important;
  min-height: 212px !important;
}

.fullscreen .option-button-0 {
  opacity: 0 !important;
}

.fullscreen .option-button-1 {
  opacity: 0 !important;
}

.fullscreen .option-button-2 {
  opacity: 0 !important;
}

.fullscreen .option-button-3 {
  opacity: 0 !important;
}

.fullscreen .project-detail-slide-active .option-button-container .option-button-0.row {
  padding: 0 !important;
  margin-bottom: 8px !important;
  opacity: 1 !important;
  transition-delay: .8s !important;
  transition: all 1.2s cubic-bezier(.23, 1, .32, 1);
  will-change: opacity, transform, width, height;
  transform: translateY(-15px) !important;
  transform-origin: 50% 50%;
}

.fullscreen .project-detail-slide-active .option-button-container .option-button-1.row {
  padding: 0 !important;
  margin-bottom: 8px !important;
  opacity: 1 !important;
  transition-delay: 1.2s !important;
  transition: all 1.2s cubic-bezier(.23, 1, .32, 1);
  will-change: opacity, transform, width, height;
  transform: translateY(-15px) !important;
  transform-origin: 50% 50%;
}

.fullscreen .project-detail-slide-active .option-button-container .option-button-2.row {
  padding: 0 !important;
  margin-bottom: 8px !important;
  opacity: 1 !important;
  transition-delay: 1.6s !important;
  transition: all 1.2s cubic-bezier(.23, 1, .32, 1);
  will-change: opacity, transform, width, height;
  transform: translateY(-15px) !important;
  transform-origin: 50% 50%;
}

.fullscreen .project-detail-slide-active .option-button-container .option-button-3.row {
  padding: 0 !important;
  opacity: 1 !important;
  transition-delay: 2.0s !important;
  transition: all 1.2s cubic-bezier(.23, 1, .32, 1);
  will-change: opacity, transform, width, height;
  transform: translateY(-15px) !important;
  transform-origin: 50% 50%;
}



.fullscreen .ui.black.circular.fluid.button {
  background-color: rgb(53, 53, 53) !important;
}

.fullscreen .project-navigation-header {
  z-index: 150 !important;
}

.fullscreen .project-navigation-header .project-navigation-header.menu .menu .item:hover {
  background: none !important;
}

.fullscreen .project-navigation-header .row.header-content {
  padding: 15px 0 5px 0 !important;
}

.fullscreen .project-navigation-header .active-header.grid,
.fullscreen .project-navigation-header .inactive-header.grid {
  width: 100% !important;
}

.fullscreen .project-navigation-header .active-header .row.header-content {
  font-weight: bold !important;
}

.fullscreen .project-navigation-header .inactive-header .row.header-content {
  opacity: 0.5 !important;
}

.fullscreen .project-navigation-header .row.header-dot {
  font-size: 14px !important;
  padding: 0 !important;
}

.fullscreen .project-navigation-header .active-header .row.header-dot {
  opacity: 1 !important;
}

.fullscreen .project-navigation-header .inactive-header .row.header-dot {
  opacity: 0 !important;
}

.fullscreen .project-navigation-header .ui.borderless.project-navigation-header.menu {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.fullscreen .ui.basic.circular.fluid.button {
  box-shadow: 0px 0px 0px 1px rgba(53, 53, 53, 1) inset;
  color: rgb(53, 53, 53) !important;
}

.fullscreen .ui.basic.circular.fluid.button:hover {
  box-shadow: 0px 0px 0px 1px rgba(53, 53, 53, 1) inset;
  color: rgb(53, 53, 53) !important;
  background: transparent !important;
}

.fullscreen .ui.container.project-test-detail-content {
  width: 100% !important;

}

.fullscreen .ui.container.project-test-detail-content .project-test-detail-content-menu {
  font-size: 11px !important;
  font-weight: bold !important;
}

.fullscreen .ui.container.project-test-detail-content .active {
  display: block !important;
}

.fullscreen .ui.container.project-test-detail-content .inactive {
  display: none !important;
}

.fullscreen .ui.container.project-test-detail-content .column {
  padding: 0 !important;
}

.fullscreen .ui.container.project-test-detail-content .curriculum-detail .row {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.fullscreen .ui.container.project-test-detail-content .curriculum-detail .row .button {
  background: none !important;
}

.fullscreen .ui.container.project-test-detail-content .curriculum-detail .row .button:hover {
  background: none !important;
}

.fullscreen .ui.container.project-test-detail-content .project-test-detail-content-menu .active-menu:hover,
.fullscreen .ui.container.project-test-detail-content .project-test-detail-content-menu .inactive-menu:hover {
  cursor: pointer !important;
}

.fullscreen .ui.container.project-test-detail-content .project-test-detail-content-menu .menu-dot {
  padding: 0 !important;
  margin-top: -5px !important;
  font-size: 16px !important;
  opacity: 0 !important;
}

.fullscreen .ui.container.project-test-detail-content .project-test-detail-content-menu .menu-content {
  padding-bottom: 0 !important;
  opacity: 0.5 !important;
}

.fullscreen .ui.container.project-test-detail-content .project-test-detail-content-menu .active-menu .menu-dot {
  color: #eb4c2a !important;
  opacity: 1 !important;
}

.fullscreen .ui.container.project-test-detail-content .project-test-detail-content-menu .active-menu .menu-content {
  color: #eb4c2a !important;
  opacity: 1 !important;
}



.fullscreen .project-detail-top-label {
  padding: 0 !important;
  margin: 5px !important;
  width: 100% !important;
  min-height: 200px !important;
  background-color: rgb(234, 112, 86) !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2) !important;
}

.fullscreen .project-detail-test-container.ui.container {
  max-width: 640px !important;
  position: fixed !important;
  bottom: 20px !important;
  width: 100% !important;
}

.fullscreen .project-detail-test-container.ui.container .column {
  padding: 0 !important;
}

.fullscreen .project-detail-test-container.ui.container .project-detail-test-apply-button.ui.button {
  margin-top: 2px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.fullscreen .project-detail-top-label .project-header-back {
  background: none !important;
}

.fullscreen .next-icon {
  position: absolute !important;
  top: 45vh !important;
  right: 8px !important;
  font-size: 10px !important;
  animation: slide1 1.2s ease-in-out infinite !important;
}

@keyframes slide1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(8px, 0);
  }
}

.fullscreen .next-icon:hover {
  cursor: pointer !important;
}

.fullscreen .direct-pay {
  position: fixed !important;
  top: 68vh !important;
  right: 0 !important;
  color: white !important;
  text-align: center !important;
  padding: 10px 16px 4px 24px !important;
  background-color: rgb(0, 0, 0, 0.2) !important;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.fullscreen .direct-pay:hover {
  cursor: pointer !important;
}

/* 
.swiper-slide .swiper-lazy {
  display: none !important;
}

.swiper-slide.swiper-slide-active .swiper-lazy {
  display: block !important;
}

.swiper-slide.swiper-slide-active .swiper-lazy {
  animation-delay: 4s;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
} */



@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* 하단 고정 메뉴 */
.bottom-fixed-menu.ui.menu {
  display: flex !important;
  border: none;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  max-width: 640px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  left: auto !important;
}

.bottom-fixed-menu.ui.menu .item {
  height: 60px !important;
  background-color: white !important;
}

.bottom-fixed-menu.ui.menu .active.item {
  height: 60px !important;
  color: #eb4c2a !important;
  background-color: white !important;
  border-top: solid 2px #eb4c2a !important;
}

.bottom-fixed-menu.ui.menu .active.item:after {
  display: none !important;
}

.bottom-fixed-menu.ui.menu i:before {
  height: 24px !important;
}

/* 회원가입 이용 동의 */
.ui.checkbox.all-agree label {
  font-weight: bold !important;
  font-size: 15px !important;
}

.ui.checkbox.agree label {
  font-size: 13px !important;
  color: rgb(92, 93, 93) !important;
}

/* 로더 아이콘 */
.project svg {
  vertical-align: middle !important;
  margin-top: 45vh !important;
}

/* 프로젝트 하단 고정바 */
.ui.project-bottom-fixed-menu.menu {
  max-width: 640px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: auto !important;
}

.ui.project-bottom-fixed-menu.menu .ui.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0px !important;
}

/* 신청완료 페이지 */
.signup-complete .ui.container {
  width: 100% !important;
}

.signup-complete.ui.grid {
  animation: fadein ease 1s;
}


.signup-complete .ui.basic.inverted.button {
  font-size: 13px !important;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255) inset !important;
}

.signup-complete .ui.basic.inverted.button:hover {
  font-size: 13px !important;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255) inset !important;
}

/* .signup-complete .ui.basic.button:hover {
  background: transparent !important;
} */

/* 얼리버드 */
.ui.grid.early-bird {
  background-image: url("../img/earlyBird.png") !important;
}

.ui.container.early-bird-timer {
  background-color: rgb(139, 217, 224) !important;
  border-radius: 7px !important;
  border: 2px solid rgb(224, 225, 226) !important;
}

.ui.container.early-bird-timer .early-bird-timer-font {
  color: rgb(51, 51, 51) !important;
  width: 59.5px !important;
  height: 42.5px !important;
  background-color: white !important;
  font-weight: bold !important;
  font-size: 27px !important;
  border-radius: 3px !important;
}

/* 좋아요한 프로젝트 슬라이더 */
.ui.container.mylike-slide {
  margin: 0 !important;
}

/* 프로젝트 내용 메뉴 */
.project-detail .project-detail-menu.ui.attached.menu {
  margin: 0 !important;
  border-radius: 0 !important;
  height: 44px !important;
}

.project-detail .project-detail-menu.menu .item a {
  color: rgb(53, 53, 53, 0.5) !important;
}

.project-detail .project-detail-menu.menu .active.item a {
  color: rgb(53, 53, 53) !important;
  font-weight: bold !important;
}

.project-detail .project-detail-menu.menu .active.item {
  border-color: #eb4c2a !important;
}

/* 프로젝트 상세 내용 */

.project-detail-content img {
  margin-left: -25px !important;
  width: calc(100% + 50px) !important;
}

/* 내 프로젝트 페이지 -> 신청 완료 프로젝트 스와이퍼 */
.one-card .swiper-container {
  padding: 0 25px 0 25px !important;
}

/* 메인 배너 슬라이더 */
.main-banner-swiper {
  width: 100% !important;
  padding: 0 !important;
}

.main-banner-swiper .swiper-container {
  height: 461px !important;
}

.main-banner-swiper .swiper-scrollbar {
  height: 4px !important;
  left: 0 !important;
  width: calc(100% - 50px) !important;
  margin-bottom: 40px !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.main-banner-swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #eb4c2a !important;
}

.main-banner-swiper .swiper-pagination.swiper-pagination-fraction {
  font-size: 12px !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  border-radius: 12.5px !important;
  padding: 3px 9px 2px 9px !important;
  width: auto !important;
  margin-left: 25px !important;
  text-align: left !important;
  color: white !important;
  margin-bottom: 45px !important;
}

/* 서브 배너 슬라이더 */
.sub-banner-swiper .swiper-container .swiper-scrollbar {
  height: 4px !important;
  width: calc(100% - 50px) !important;
  left: 0 !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
  margin-bottom: 18px !important;
}

.sub-banner-swiper .swiper-container .swiper-scrollbar-drag {
  background-color: #eb4c2a !important;
}

.sub-banner-swiper .swiper-slide {
  width: 100% !important;
}

.sub-banner-swiper .swiper-container {
  width: 100% !important;
}

/* 프로젝트 헤더 */
.ui.menu.project-header {
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
  border: none !important;
}

/* 검색 페이지 */
.ui.search.container {
  width: 100% !important;
}

.search .search-loader svg {
  margin-top: 40px !important;
}

/* 검색바 */
.ui.menu.search-bar {
  border-radius: 0px !important;
  border: none !important;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) !important;
}

.ui.menu.search-bar .ui.search input {
  padding-left: 14px !important;
  width: 251px !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: 0 0 0 1.2px rgb(222, 222, 223) inset !important;
}

.ui.menu.search-bar .ui.search i {
  display: none !important;
}

.ui.menu.search-bar .ui.search.loading i {
  display: block !important;
}

.ui.menu.search-bar .ui.icon.input {
  width: 100% !important;
}

.ui.menu.search-bar .ui.search .results.transition.visible {
  padding: 15px 15px !important;
  display: block !important;
  margin-top: 9px !important;
  margin-left: -63px !important;
  margin-right: -50px !important;
  width: calc(100% + 126px) !important;
  border: none !important;
  border-radius: 2px !important;
  max-width: 640px !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 5px, rgba(0, 0, 0, 0.02) 0px 6px 4px, rgba(0, 0, 0, 0.03) 0px 9px 6px, rgba(0, 0, 0, 0.03) 0px 16px 12px, rgba(0, 0, 0, 0.08) 0px 24px 24px;
}

.ui.menu.search-bar .ui.search .results.transition .result {
  border: none !important;
}

.ui.menu.search-bar .ui.search .results.transition .result .content .title {
  font-weight: normal !important;
}

/* 단일 카드 노출 */
.one-card .ui.card.mobile {
  width: 100% !important;
}

/* 이벤트 페이지 */
.event-page.ui.container img {
  margin-left: -25px !important;
  width: calc(100% + 50px) !important;
}

.event-page.ui.container a img {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}


/* 제목 달린 헤더 */
.title-header.ui.menu {
  border: none !important;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) !important;
}

.title-header.ui.menu .ui.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* 메인페이지 스와이퍼 */
.main-swiper .swiper-container {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.main-swiper .ui.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-swiper .swiper-pagination.swiper-pagination-progressbar {
  margin-top: 24px !important;
  position: relative !important;
  --swiper-theme-color: #eb4c2a !important;
}

.main-swiper .ui.container {
  width: 100% !important;
  margin: 0 !important;
}

.project-detail .main-swiper .ui.container {
  margin: 0 !important;
}

.main-swiper .all-project .swiper-container .swiper-wrapper {
  flex-direction: row !important;
}

.main-swiper .all-project .swiper-container .swiper-wrapper .swiper-slide {
  margin-top: 24px !important;
}

/* 추천 프로젝트 스와이퍼 */
.project-detail .recommend-project .main-swiper .ui.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* 입력폼 플레이스홀더 폰트 고정 */
.signup-component .ui.input {
  font-size: 14px !important;
}

/* 이미지 플레이스홀더 최대 넓이 제한 X */
.ui.placeholder {
  max-width: none !important;
}

/* 마이페이지 좋아요 프로젝트 */
.ui.container.mypage-like {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* 메인페이지 카테고리 박스 */
.main-categorybox.ui.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

/* 카테고리 페이지 헤더 */
.category-header .ui.menu:not(.vertical) .right.menu {
  margin-left: 0px !important;
}

.ui.more-category.menu {
  min-height: 20px !important;
  max-width: 640px !important;
}

/* 쿠폰 카드 */
.ui.fluid.card.coupon-modal {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  border-radius: 3px !important;
}

/* 쿠폰코드 입력폼 */
.couponcode-input .ui.fluid.input {
  font-size: 14px !important;
  height: 38px !important;
}

.couponcode-input .ui.fluid.button {
  height: 38px !important
}

/* 결제내역 카드 */
.payment-card.ui.fluid.card {
  border-radius: 3px !important;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .ui.container {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 100% !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.container {
    width: 100% !important;
  }
}


@media (min-width: 1080px) {


  a.card.mobile {
    box-shadow: none !important;
    border-radius: 1px !important;
  }

  div.ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  /* 
  div.ui.container {
    padding-left: 25px !important;
    padding-right: 25px !important;
  } */

}

@media (max-width: 1200px) {

  .card-list {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  div.ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .card-list a.card.mobile {
    width: calc(25% - 21.5px) !important;
    box-shadow: none !important;
    border-radius: 1px !important;
  }

  .card-list a.card.mobile:nth-child(4n+3) {
    margin-left: 6px !important;
    margin-right: 6px !important;
  }

  .card-list a.card.mobile:nth-child(4n+2) {
    margin-left: 6px !important;
    margin-right: 6px !important;
  }

  .card-list a.card.mobile:nth-child(4n+1) {
    margin-left: 25px !important;
    margin-right: 6px !important;
  }

  .card-list a.card.mobile:nth-child(4n+0) {
    margin-left: 6px !important;
    margin-right: 25px !important;
  }

}

@media (max-width: 1080px) {
  .project-detail .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }


  .card-list a.card.mobile {
    width: calc(50% - 6px) !important;
    box-shadow: none !important;
    border-radius: 1px !important;
  }

  .card-list a.card.mobile:nth-child(2n+1) {
    margin-left: 0px !important;
    margin-right: 6px !important;
  }

  .card-list a.card.mobile:nth-child(2n+0) {
    margin-left: 6px !important;
    margin-right: 0px !important;
  }
}


.project-detail-content iframe {
  width: 100% !important;
}

@media (max-width: 767px) {
  .project-detail .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .project-detail-content iframe {
    max-height: 360px !important;
  }
}

@media (max-width: 650px) {
  .project-detail-content iframe {
    max-height: 300px !important;
  }
}

@media (max-width: 600px) {
  .project-detail-content iframe {
    max-height: 270px !important;
  }
}

@media (max-width: 550px) {
  .project-detail-content iframe {
    max-height: 240px !important;
  }
}


@media (max-width: 500px) {
  .project-detail-content iframe {
    max-height: 210px !important;
  }
}

@media (max-width: 450px) {
  .project-detail-content iframe {
    max-height: 200px !important;
  }
}

@media (max-width: 400px) {
  .project-detail-content iframe {
    max-height: 185px !important;
  }
}